<form method="post" action="/manager">
  <label for="name">Artist's Name:</label>
  <input
  type="text"
  name="name"
  id="name"
  />

  <label for="genre">Genre:</label>
  <input
  type="text"
  name="genre"
  id="genre"
  />

  <input type="submit" value="Add new artist">
</form>
