<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Gallery</title>
</head>
  <main>
  <nav>
    <ul>
      <li>
        <p>test</p>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/manager">Staff Site</a>
      </li>
      <li>
        <a href="/visitor">Visitor Site</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
  </main>
</html>
