<h1>Gallery Exhibits</h1>
<% @exhibits.each do |exhibit| %>
  <p>Exhibit Name: <%= exhibit.exhibit_name() %></p>
  <p><a href="/visitor/info/<%= exhibit.id %>">Show Details</a></p>
  <hr />
<% end %>
